# Rihal Data Science Challenge

You are allowed to use any method in reading, loading, transforming the data. Additionally, you can use any model to predict the price of used cars. 

**Make sure** you explain your approach at each step, and to evaluate your model. Finally, you must show the Mean Asbolute Error from your model's predictions when compared with the test dataset's prices. 

---------------------------

## Imports

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

pd.options.display.max_columns = 110

## Read Data

In [4]:
df_train = pd.read_csv('data_train.csv')
df_test = pd.read_csv('data_test.csv')

In [5]:
display(df_train.head())
display(df_test.head())

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,Volkswagen,automatic,black,130000,2016,diesel,diesel,1.6,universal,False,owned,front,True,17,38,67,13150.0
1,Renault,manual,brown,149000,2012,gasoline,gasoline,1.6,sedan,False,owned,front,False,9,3,100,7500.0
2,Kia,automatic,brown,110000,2014,gasoline,gasoline,1.6,hatchback,False,owned,front,False,5,10,91,12200.0
3,Opel,automatic,other,255100,2007,gasoline,gasoline,1.8,hatchback,False,owned,front,False,10,4,91,4950.0
4,Mazda,manual,blue,650000,1999,gasoline,gasoline,2.0,sedan,False,owned,front,True,5,7,62,3000.0

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,BMW,automatic,white,115000,2012,gasoline,gasoline,4.4,sedan,False,owned,all,True,32,104,146,20450.0
1,Mercedes-Benz,manual,other,500000,1999,diesel,diesel,2.2,sedan,False,owned,rear,False,7,9,147,2600.0
2,Fiat,manual,silver,210000,2002,gasoline,gasoline,1.2,hatchback,False,owned,front,True,16,7,27,2900.0
3,Mitsubishi,automatic,violet,294000,2000,diesel,diesel,3.2,suv,False,owned,all,True,10,2,48,7500.0
4,Opel,automatic,blue,244000,1998,gasoline,gasoline,1.6,sedan,False,owned,front,False,9,10,116,2200.0

## Number of unique values for each column

In [6]:
# we need to check the number of unique values in each column
# just to have an idea of the structure of the data.
df_train.nunique()

manufacturer_name          55
transmission                2
color                      12
odometer_value           5455
year_produced              63
engine_fuel                 6
engine_type                 3
engine_capacity            61
body_type                  12
has_warranty                2
ownership                   3
type_of_drive               3
is_exchangeable             2
number_of_photos           60
number_of_maintenance     365
duration_listed           760
price_usd                2495
dtype: int64

In [7]:
df_test.nunique()

manufacturer_name          55
transmission                2
color                      12
odometer_value           3915
year_produced              63
engine_fuel                 5
engine_type                 3
engine_capacity            59
body_type                  12
has_warranty                2
ownership                   3
type_of_drive               3
is_exchangeable             2
number_of_photos           54
number_of_maintenance     311
duration_listed           654
price_usd                2034
dtype: int64

### Categorical variables to Numeric variables

In [8]:
# first we transform the binary independent variable
# that is, has_warranty, is_exchangeable and transmission
# we do this by creating dummy variables for each value

dummy_warranty = pd.get_dummies(df_train['has_warranty'])

In [9]:
display(dummy_warranty.head())

   False  True
0      1     0
1      1     0
2      1     0
3      1     0
4      1     0

In [10]:
df1 = df_train
df1.drop(['has_warranty'], axis = 1, inplace = True)

display(df1)

dummy_warranty.drop(['True'], axis=1, inplace = True)
# dummy_warranty.rename(columns={'True: yes_warranty'})

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,Volkswagen,automatic,black,130000,2016,diesel,diesel,1.6,universal,owned,front,True,17,38,67,13150.0
1,Renault,manual,brown,149000,2012,gasoline,gasoline,1.6,sedan,owned,front,False,9,3,100,7500.0
2,Kia,automatic,brown,110000,2014,gasoline,gasoline,1.6,hatchback,owned,front,False,5,10,91,12200.0
3,Opel,automatic,other,255100,2007,gasoline,gasoline,1.8,hatchback,owned,front,False,10,4,91,4950.0
4,Mazda,manual,blue,650000,1999,gasoline,gasoline,2.0,sedan,owned,front,True,5,7,62,3000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Opel,manual,white,380000,1996,gasoline,gasoline,1.6,sedan,owned,front,False,2,2,59,3500.0
49996,Volkswagen,manual,green,311213,1994,gas,gasoline,1.8,universal,owned,front,False,15,7,29,2850.0
49997,Fiat,manual,red,250000,1999,gasoline,gasoline,1.8,coupe,owned,front,False,7,13,108,2000.0
49998,BMW,automatic,grey,615000,1998,diesel,diesel,2.5,universal,owned,rear,True,10,26,64,5080.0
49999,Volvo,automatic,other,485000,2002,diesel,diesel,2.4,sedan,owned,front,True,6,2,58,6800.0

KeyError: "['True'] not found in axis"